$yellow: #EAF0CE;
$orange: #D1603D;
$light-blue: #99B2DD;
$blue: #274156;
$gray: #333745;

$f-header: 'Rammetto One', cursive;
$f-oswald: Oswald, serif;

$transition: all .3s ease;

body {
  background-color: $blue;
}

h1, h2, h4 {
  font-family: $f-oswald;
}

h3 {
  font-family: $f-header;
  color: $orange;
}

h4 {
  color: $blue;
}
.font-header {
  font-family: $f-header;
  color: $orange !important;
}
nav .font-header {
  letter-spacing: 1px;
  transition: $transition;
  &:hover, &:focus {
    color: darken($orange, 10%) !important;
    transition: $transition;
  }
}

.text-blue {
  color: $blue;
}

.bg-image {
  height: 25rem;
}

.bg-pattern {
  background-image: url("https://image.freepik.com/free-vector/hand-drawn-organic-shapes-background-design_23-2148433488.jpg");
}

.tagline {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    font-family: $f-oswald;
    font-size: 2rem;
  }
}


.btn-orange {
  background-color: $orange;
  font-family: $f-header;
  color: white;
  text-transform: uppercase;
  &:hover,
  &:focus {
    background-color: darken($orange, 10%);
    color: white;
  }
}


.content-mw {
  max-width: 25rem;
  margin: auto;
}
.content-wide-mw {
  max-width: 50rem;
  margin: auto;
} 

.card-img-top {
  max-height: 15rem;
  height: 100%;
  width: auto;
}


.list-group-item.active {
  background-color: $orange;
  border-color: $orange;
  font-family: $f-header;
}

.navbar-light .navbar-nav .nav-link {
  font-family: $f-oswald;
  color: $blue;
  letter-spacing: 1.5px;
  transition: $transition;
  &:focus, &:hover {
    color: $orange;
    opacity: .75;
    transition: $transition;
  }
}

.navbar-light .navbar-toggler {
  border: none;
}

footer .navbar-nav a {
  color: white;
  font-size: 13px;
  transition: $transition;
  &:focus, &:hover {
    color: rgba(255,255,255,.75);
    transition: $transition;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}