$yellow: #EAF0CE;
$orange: #D1603D;
$light-blue: #99B2DD;
$blue: #274156;
$gray: #333745;

$f-header: 'Rammetto One', cursive;
$transition: all .3s ease;


body {
  background-color: $blue;
}

.font-header {
  font-family: $f-header;
  color: $orange!important;
}

.text-blue {
  color: $blue;
}

.tagline {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn-orange {
  background-color: $orange;
  color: white;
  &:hover,
  &:focus {
    background-color: darken($orange, 10%);
    color: white;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color:rgba(255,255,255,1);
  transition: $transition;
  &:focus,
  &:hover {
    color: rgba(255,255,255,.75);
    transition: $transition;
  }
}
