<footer class="container-fluid">
  <div class="row bg-dark py-5">
  	<div class="col-4">
  		<nav class="navbar-nav">
  			<i class="fas fa-truck text-light"></i>
        <%= link_to "Dispatch Delivery 2020", '#', class: 'nav-link' %>
  		</nav>
  	</div>
    <div class="col-4">
      <nav class="navbar-nav">
        <%= partial "nav" %>
      </nav>
    </div>
    <div class="col-4 pr-0">
      <nav class="navbar-nav">
        <%= link_to "Privacy Policy", '#', class: 'nav-link' %>
        <%= link_to "Terms", '#', class: 'nav-link' %>
      </nav>
    </div>
  </div>
</footer>