---
title: Menu
tagline: Eat this food for your body
content: Your body will dissolve it mostly and the rest will come out in as warm compact moist ..soil kinda..
---

<div class="container-fluid">
	<div class="row bg-white text-center py-5">
		<div class="col-12">
			<h1><%= current_page.data.tagline %></h1>
			<h2><%= current_page.data.content %></h2>
		</div>
	</div>
</div>