---
title: Sign Up
tagline: Food for you to eat but first email and are we in your delivery radius?
tagline_image: https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
---
<div class="position-relative bg-image" style="background-image: url(<%= current_page.data.tagline_image %>); background-size: cover; background-repeat: no-repeat; background-position: center">
	<div class="position-absolute rounded-lg bg-white shadow-lg text-center tagline content-mw">
		<p class="content-wide-mw text-center p-3"><%= current_page.data.tagline %></p>
		<div class="bg-pattern mt-4 h-set">
		</div>
	</div>
</div>
<div class="container-fluid bg-pattern p-5">
	<form class="bg-white p-5">
		<h1 class="text-center"><%= current_page.data.title %></h1>
		<h4 class="content-wide-mw text-center pb-3"><%= current_page.data.tagline %></h4>
		<div class="row py-3">
			<div class="col-12 col-md-6">
			  <div class="form-group">
			    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			</div>
			<div class="col-12 col-md-3">
			  <div class="form-group">
			    <input type="number" class="form-control" id="InputZipCode" placeholder="Zip Code">
			  </div>
			</div>
			<div class="col-12 col-md-3">
	  		<button type="submit" class="btn btn-orange">Sign Up</button>
			</div>
		</div>
	</form>
	
</div>